# BC Dataton

In [1]:
import pandas as pd
import numpy as np

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns



# Pre-processing
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder

#modeling

from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.pipeline import Pipeline

from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import mean_absolute_error, mean_squared_error, mean_squared_log_error, r2_score

# Feature engineerin and Dimension reduction
from sklearn.feature_selection import VarianceThreshold


# Utils
from tqdm import tqdm
from pandas_profiling import ProfileReport
from pycaret.regression import *


%matplotlib inline

sns.set_style("white")
matplotlib.rc('xtick', labelsize=15)
matplotlib.rc('ytick', labelsize=15)
plt.rcParams['figure.figsize'] = [16.0, 10.0]

In [ ]:
data = pd.read_csv("https://bc-dataton2020.s3.amazonaws.com/dataton_all_data/train/train_201910.csv")
data.head()

# Data Processing class

In [151]:
class DataFrameBuilder:
    
    HEADER="https://bc-dataton2020.s3.amazonaws.com/dataton_all_data/header.txt"
    NUMERIC_COLUMNS=[
        "ingreso_segurida_social",
        "mora_max"
    ]
    STRING_COLUMNS=[]
    BOOLEAN_COLUMNS=[]
    DROP_COLUMNS=[
        "fecha_nacimiento",
        "profesion",
        "ocupacion"
    ]
    
    def __init__(self, dataframe, keep_original=False):
        self.original_dataframe = self._assign_columns(dataframe.copy())
        self.cleaned_dataframe = None
        self.keep_original = keep_original
        
    def _assign_columns(self, dataframe):
        column_names = pd.read_csv(DataFrameBuilder.HEADER).columns.to_list()
        dataframe.columns = column_names
        return dataframe
    
    # Reemplazar \N por NA
    def cleanNA(self, dataframe):
        
        for column in dataframe.columns:
            if column in DataFrameBuilder.NUMERIC_COLUMNS :
                dataframe[column] = dataframe[column].replace("\\N", np.nan).astype('float')
        return dataframe
    
    # Manejo de datos faltantes
    def handle_missing_data(self):
        pass
    
    # Modificacion de columnas existentes
    def process_columns(self, dataframe):
        
        # Procesamiento columnas demograficas
        # Procesamiento columnas financieras
        # Procesamiento columnas de riesgo
        dataframe['rep_calif_cred'] = np.where(
                                        dataframe['rep_calif_cred'] == "SIN INFO","NA",
                                        dataframe['rep_calif_cred']
        )
        
        dataframe['mora_max'] = np.where(
                                   dataframe['mora_max'] < 30, "Entre 0 y 30 dias",
                                   np.where(
                                       dataframe['mora_max'] < 60, "Entre 31 y 60 dias",
                                       np.where(
                                           dataframe['mora_max'] > 60, "Mas de 60", "NA")
                                   )
        )
        return dataframe
    
    # Para eliminar las columnas que no vamos a usar
    def remove_columns(self, dataframe):
        
        return dataframe.drop(DataFrameBuilder.DROP_COLUMNS, axis=1)
    
    # Para creacion de columnas nuevas
    def create_columns(self):
        pass
    
    # Guardar Dataframe
    def save_dataframe(self):
        pass
    
    # En esta funcion va todo el flujo
    def build(self, to_s3=False):
        
        # Borrar variables
        sliced_dataframe = self.remove_columns(self.original_dataframe)
        # Missing values
        na_cleaned_dataframe = self.cleanNA(sliced_dataframe)
        # Procesamiento de columnas
        cleaned_dataframe = self.process_columns(na_cleaned_dataframe)
        self.cleaned_dataframe = cleaned_dataframe
        
        # Eliminar de memoria el dataframe original
        if not self.keep_original:
            self.original_dataframe = None
        
        # Guardado (En local o S3)
        
        return self.cleaned_dataframe

In [147]:
test_df = DataFrameBuilder(data)

In [148]:
test_df.build()['mora_max'].value_counts()

ValueError: could not convert string to float: 'NA'

In [145]:
test_df.cleaned_dataframe

,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,profesion,ocupacion,tipo_vivienda,ult_actual,categoria,codigo_ciiu,ind_mora_vigente,cartera_castigada,ciudad_residencia,departamento_residencia,ciudad_laboral,departamento_laboral,rechazo_credito,mora_max,cant_moras_30_ult_12_meses,cant_moras_60_ult_12_meses,cant_moras_90_ult_12_meses,cupo_total_tc,tenencia_tc,cuota_tc_bancolombia,tiene_consumo,tiene_crediagil,nro_tot_cuentas,ctas_activas,tiene_ctas_activas,ctas_embargadas,tiene_ctas_embargadas,pension_fopep,cuota_cred_hipot,tiene_cred_hipo_1,tiene_cred_hipo_2,mediana_nom3,mediana_pen3,ingreso_nompen,cat_ingreso,ingreso_final,cant_mora_30_tdc_ult_3m_sf,cant_mora_30_consum_ult_3m_sf,cuota_de_vivienda,cuota_de_consumo,cuota_rotativos,cuota_tarjeta_de_credito,cuota_de_sector_solidario,cuota_sector_real_comercio,cupo_tc_mdo,saldo_prom3_tdc_mdo,cuota_tc_mdo,saldo_no_rot_mdo,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,rep_calif_cred,pol_centr_ext,convenio_lib,ingreso_nomina,ingreso_segurida_social,gasto_familiar
0,201910,2089776,19840630,35.236140,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,ALQUILADA,20180526,1,10,N,N,CALI ...,VALLE ...,CALI ...,VALLE ...,\N,NA,\N,\N,\N,0.0,NO,0.000000e+00,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,1255032.0,0.0,1255032.0,NOM,1259738,0,0,0.0,0,0,0,0,0,0,0.0,0,0,0,0,0,629869,C,0,\N,1255032,NaN,95511.00
1,201910,2088434,19880109,31.709788,F,UNION LIBRE,UNIVERSITARIO,VETERINARIA,Comerciante,NO INFORMA,20190710,4,10,N,N,GARZON ...,HUILA ...,\N,\N,\N,NA,\N,\N,\N,0.0,NO,0.000000e+00,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,0.0,0.0,0.0,\N,7970188,\N,\N,0.0,0,0,0,0,0,0,0.0,0,0,0,\N,\N,4742261.859999999,NA,\N,\N,\N,NaN,1929721.00
2,201910,2088089,19860727,33.163587,M,UNION LIBRE,NO INFORMA,\N,Independiente,FAMILIAR,20190312,4,8230,N,N,PALMIRA ...,VALLE ...,\N,\N,\N,Entre 0 y 30 dias,0,0,0,0.0,NO,0.000000e+00,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,0.0,0.0,0.0,\N,3073390,\N,\N,0.0,0,0,0,0,0,0,0.0,0,0,0,\N,\N,1698047.975,NA,\N,\N,\N,NaN,374940.00
3,201910,4780572,19940208,25.626283,M,SOLTERO,NO INFORMA,OTROS,Empleado,\N,20190719,2,90,N,N,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,\N,Entre 0 y 30 dias,0,0,0,15700000.0,SI,2.796635e+06,X,X,1,1,X,0,\N,\N,\N,\N,\N,0.0,0.0,0.0,\N,7749000,0,0,0.0,1750000,0,675000,0,0,0,0.0,0,9517000,0,5,0,2185655,B,0,\N,\N,NaN,2165030.00
4,201910,3894402,19910809,28.128679,M,SOLTERO,TECNOLOGO,DISEÑO Y PUBLICIDAD,Independiente,\N,20190311,4,10,N,N,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,\N,Entre 0 y 30 dias,0,0,0,0.0,NO,0.000000e+00,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,0.0,0.0,0.0,\N,1200000,0,0,0.0,134000,0,0,0,244000,0,0.0,0,2181000,0,2,0,-42000,NA,0,\N,\N,NaN,77469.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1118881,201910,2892117,19840610,35.290897,M,UNION LIBRE,BACHILLER,\N,Comerciante,\N,20190726,4,4724,N,N,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,\N,Entre 0 y 30 dias,0,0,0,4200000.0,SI,1.218000e+05,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,0.0,0.0,0.0,\N,3810000.0,\N,\N,0.0,0,0,0,0,0,0,0.0,0,0,0,\N,\N,2145150.000000,A,\N,\N,\N,NaN,488768.00
1118882,201910,4772894,19860721,33.180014,F,SOLTERO,NO INFORMA,\N,Independiente,\N,20190609,4,10,N,N,BOGOTA D.C. ...,CUNDINAMARCA ...,BOGOTA D.C. ...,AMAZONAS ...,\N,Entre 0 y 30 dias,0,0,0,0.0,NO,0.000000e+00,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,0.0,0.0,0.0,\N,2002230.0,\N,\N,0.0,0,0,0,0,0,0,0.0,0,0,0,\N,\N,1021137.300000,NA,\N,\N,\N,NaN,114924.71
1118883,201910,4774849,19960318,23.520876,F,DIVORCIADO,NO INFORMA,\N,Empleado,\N,20190410,1,10,N,N,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,AMAZONAS ...,\N,Entre 0 y 30 dias,0,0,0,0.0,NO,0.000000e+00,\N,\N,0,0,\N,0,\N,\N,\N,\N,\N,0.0,0.0,0.0,\N,2110000.0,0,0,0.0,144000,0,0,0,144000,0,0.0,0,0,0,1,0,788100.000000,E,0,\N,\N,NaN,0.00
1118884,201910,3895049,19910224,28.583162,M,UNION LIBRE,NO INFORMA,\N,Empleado,\N,20190909,1,10,N,N,APARTADO ...,ANTIOQUIA ...,NECOCLI ...,ANTIOQUIA ...,\N,Entre 0 y 30 dias,0,0,0,0.0,NO,0.000000e+00,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,2371104.0,0.0,2371104.0,NOM,1955559.0,0,0,0.0,0,0,157000,0,0,7500000,0.0,0,68000,0,2,0,1016335.400000,H,0,72080,2324915,1416107.0,153150.00
1118885,201910,2090044,19670629,52.240931,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Profesional Independiente,\N,20190424,1,10,N,N,BOGOTA D.C. ...,CUNDINAMARCA ...,BOGOTA D.C. ...,BOGOTA D.C. ...,\N,Entre 0 y 30 dias,0,0,0,10500000.0,SI,1.350093e+06,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,0.0,0.0,0.0,\N,2438000.0,0,0,0.0,0,0,533000,0,0,1900000,61000.0,0,75000,0,3,0,929800.000000,C,0,\N,\N,NaN,25500.00

In [150]:
data['mora_max']

0                         NA
1                         NA
2          Entre 0 y 30 dias
3          Entre 0 y 30 dias
4          Entre 0 y 30 dias
                 ...
1118881    Entre 0 y 30 dias
1118882    Entre 0 y 30 dias
1118883    Entre 0 y 30 dias
1118884    Entre 0 y 30 dias
1118885    Entre 0 y 30 dias
Name: mora_max, Length: 1118886, dtype: object

In [94]:
df = test_df.original_dataframe
df['ind_mora_vigente'].value_counts()

N     1101373
S       17210
\N        303
Name: ind_mora_vigente, dtype: int64

In [48]:
pd.crosstab(df['ind_mora_vigente'], df['rep_calif_cred'])

rep_calif_cred,A,B,C,D,E,F,G,H,SIN INFO
ind_mora_vigente,,,,,,,,,
N,249144,158664,152652,118046,78455,46784,138942,59662,99024
S,1284,1122,2095,2389,2047,1636,3184,2420,1033
\N,1,6,43,59,28,17,92,45,12

In [28]:
df['mora_max'].value_counts()[1] / len(df) * 100

28.513539359684543

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1118886 entries, 0 to 1118885
Data columns (total 65 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   periodo                        1118886 non-null  int64
 1   id_cli                         1118886 non-null  int64
 2   fecha_nacimiento               1118886 non-null  int64
 3   edad                           1118886 non-null  object
 4   genero                         1118886 non-null  object
 5   estado_civil                   1118886 non-null  object
 6   nivel_academico                1118886 non-null  object
 7   profesion                      1118886 non-null  object
 8   ocupacion                      1118886 non-null  object
 9   tipo_vivienda                  1118886 non-null  object
 10  ult_actual                     1118886 non-null  int64
 11  categoria                      1118886 non-null  object
 12  codigo_ciiu                    1118886 non-null  int64
 13  ind_mora_vigente               1118886 non-null  object
 14  cartera_castigada              1118886 non-null  object
 15  ciudad_residencia              1118886 non-null  object
 16  departamento_residencia        1118886 non-null  object
 17  ciudad_laboral                 1118886 non-null  object
 18  departamento_laboral           1118886 non-null  object
 19  rechazo_credito                1118886 non-null  object
 20  mora_max                       1118886 non-null  object
 21  cant_moras_30_ult_12_meses     1118886 non-null  object
 22  cant_moras_60_ult_12_meses     1118886 non-null  object
 23  cant_moras_90_ult_12_meses     1118886 non-null  object
 24  cupo_total_tc                  1118886 non-null  float64
 25  tenencia_tc                    1118886 non-null  object
 26  cuota_tc_bancolombia           1118886 non-null  float64
 27  tiene_consumo                  1118886 non-null  object
 28  tiene_crediagil                1118886 non-null  object
 29  nro_tot_cuentas                1118886 non-null  object
 30  ctas_activas                   1118886 non-null  object
 31  tiene_ctas_activas             1118886 non-null  object
 32  ctas_embargadas                1118886 non-null  object
 33  tiene_ctas_embargadas          1118886 non-null  object
 34  pension_fopep                  1118886 non-null  object
 35  cuota_cred_hipot               1118886 non-null  object
 36  tiene_cred_hipo_1              1117919 non-null  object
 37  tiene_cred_hipo_2              1032485 non-null  object
 38  mediana_nom3                   1118886 non-null  float64
 39  mediana_pen3                   1118886 non-null  float64
 40  ingreso_nompen                 1118886 non-null  float64
 41  cat_ingreso                    1118886 non-null  object
 42  ingreso_final                  1118886 non-null  object
 43  cant_mora_30_tdc_ult_3m_sf     1118886 non-null  object
 44  cant_mora_30_consum_ult_3m_sf  1118886 non-null  object
 45  cuota_de_vivienda              1118886 non-null  float64
 46  cuota_de_consumo               1118886 non-null  int64
 47  cuota_rotativos                1118886 non-null  int64
 48  cuota_tarjeta_de_credito       1118886 non-null  int64
 49  cuota_de_sector_solidario      1118886 non-null  int64
 50  cuota_sector_real_comercio     1118886 non-null  int64
 51  cupo_tc_mdo                    1118886 non-null  int64
 52  saldo_prom3_tdc_mdo            1118886 non-null  float64
 53  cuota_tc_mdo                   1118886 non-null  int64
 54  saldo_no_rot_mdo               1118886 non-null  int64
 55  cuota_libranza_sf              1118886 non-null  int64
 56  cant_oblig_tot_sf              1118886 non-null  object
 57  cant_cast_ult_12m_sr           1118886 non-null  object
 58  ind                            1118886 non-null  object
 59  rep_calif_cred                 1118886 non-null  object
 60  pol_centr_ext                  1118886 non-null  object
 61  convenio_lib                   1118886 non-null  object
 62  ingreso_nomina                 1118886 non-null  object
 63  ingreso_segurida_social        1118886 non-null  object
 64  gasto_familiar                 1118886 non-null  float64
dtypes: float64(8), int64(14), object(43)
memory usage: 554.9+ MB

# Metadata report

In [22]:
class MetaDataReport:
    
    
    def __init__(self):
        pass

In [58]:
test_df = pd.read_csv("https://bc-dataton2020.s3.amazonaws.com/dataton_all_data/dt2020_base_evaluar_corrected.csv")

In [59]:
test_df

,id_registro,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,profesion,ocupacion,tipo_vivienda,ult_actual,categoria,codigo_ciiu,ind_mora_vigente,cartera_castigada,ciudad_residencia,departamento_residencia,ciudad_laboral,departamento_laboral,rechazo_credito,mora_max,cant_moras_30_ult_12_meses,cant_moras_60_ult_12_meses,cant_moras_90_ult_12_meses,cupo_total_tc,tenencia_tc,cuota_tc_bancolombia,tiene_consumo,tiene_crediagil,nro_tot_cuentas,ctas_activas,tiene_ctas_activas,ctas_embargadas,tiene_ctas_embargadas,pension_fopep,cuota_cred_hipot,tiene_cred_hipo_1,tiene_cred_hipo_2,mediana_nom3,mediana_pen3,ingreso_nompen,cat_ingreso,ingreso_final,cant_mora_30_tdc_ult_3m_sf,cant_mora_30_consum_ult_3m_sf,cuota_de_vivienda,cuota_de_consumo,cuota_rotativos,cuota_tarjeta_de_credito,cuota_de_sector_solidario,cuota_sector_real_comercio,cupo_tc_mdo,saldo_prom3_tdc_mdo,cuota_tc_mdo,saldo_no_rot_mdo,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,rep_calif_cred,pol_centr_ext,convenio_lib,ingreso_nomina,ingreso_segurida_social
0,4055#201902,201902,4055,19721103,46.203970,M,CASADO,UNIVERSITARIO,DISEÑO Y PUBLICIDAD,Empleado,FAMILIAR,20180807,2.0,10,N,N,SABANETA - ANTIOQUIA ...,ANTIOQUIA ...,ENVIGADO ...,ANTIOQUIA ...,NaN,NaN,NaN,NaN,NaN,0.0,NO,0.000,NaN,NaN,2,2,X,0,NaN,NaN,NaN,NaN,NaN,7216586.0,0.0,7216586.0,NOM,4827796.0,0.0,0.0,0.00,1797000.00,954000.0,365000.0,0.0,0.0,18290000.0,2.825000e+05,19000.0,127148000.0,1797000.0,7.0,0.0,2.060457e+06,A,0.0,74339,2734528.0,NaN
1,12598#201902,201902,12598,19750930,43.299110,M,SOLTERO,UNIVERSITARIO,ADMINISTRACION,Empleado,FAMILIAR,20180130,1.0,10,N,N,BOGOTA D.C. ...,CUNDINAMARCA ...,BOGOTA D.C. ...,CUNDINAMARCA ...,NaN,1.0,0.0,0.0,0.0,0.0,NO,0.000,NaN,NaN,1,1,X,0,NaN,NaN,NaN,NaN,NaN,2331528.0,0.0,2331528.0,NOM,2316057.0,0.0,6.0,0.00,4637000.00,0.0,0.0,0.0,68627000.0,0.0,0.000000e+00,0.0,87661000.0,0.0,5.0,66.0,-7.187437e+07,H,15.0,NaN,2291070.0,NaN
2,23697#201902,201902,23697,19740130,44.963723,M,CASADO,UNIVERSITARIO,OTROS,Empleado,ALQUILADA,20190110,2.0,10,N,N,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,NaN,1.0,0.0,0.0,0.0,0.0,NO,0.000,NaN,NaN,2,2,X,0,NaN,NaN,NaN,NaN,NaN,5954982.0,0.0,5954982.0,NOM,5354621.0,0.0,0.0,0.00,1750000.00,0.0,147000.0,0.0,0.0,7000000.0,3.300000e+04,33000.0,58967000.0,0.0,3.0,0.0,-1.448765e+06,A,0.0,NaN,NaN,NaN
3,23768#201902,201902,23768,19610620,57.577002,M,NO INFORMA,BACHILLER,NaN,Empleado,ALQUILADA,20180208,1.0,10,N,N,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,NaN,NaN,NaN,NaN,NaN,0.0,NO,0.000,NaN,NaN,1,1,X,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,3711362.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,2.208260e+06,G,0.0,NaN,NaN,NaN
4,7174#201902,201902,7174,19661010,52.271047,F,DIVORCIADO,UNIVERSITARIO,MEDICINA,Empleado,PROPIA,20180825,3.0,10,N,N,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,NaN,0.0,0.0,0.0,0.0,5750000.0,SI,316178.937,NaN,NaN,1,1,X,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,9059892.0,0.0,0.0,0.00,1500000.00,81000.0,597000.0,0.0,0.0,29425000.0,4.088500e+06,11000.0,22746000.0,0.0,7.0,0.0,3.212636e+06,A,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281661,8596193#202011,202011,8596193,19740415,46.516085,F,SOLTERO,UNIVERSITARIO,OTROS,Empleado,FAMILIAR,20201010,2.0,10,N,N,MEDELLIN ...,ANTIOQUIA ...,MEDELLIN ...,ANTIOQUIA ...,NaN,0.0,0.0,0.0,0.0,6000000.0,SI,508134.276,NaN,NaN,1,1,X,0,NaN,NaN,NaN,NaN,NaN,2281362.0,0.0,2281362.0,NOM,3876343.0,0.0,0.0,0.00,0.00,0.0,205000.0,0.0,0.0,6800000.0,0.000000e+00,0.0,0.0,0.0,2.0,0.0,2.101424e+06,A,0.0,70721,2281362.5,3876343.0
281662,8616083#202011,202011,8616083,19850620,35.334702,M,NO INFORMA,NO INFORMA,NaN,Socio Empleado - Socio,PROPIA,20201003,3.0,90,N,N,BOGOTA D.C. ...,BOGOTA D.C. ...,NaN,NaN,NaN,28.0,0.0,0.0,0.0,71000000.0,SI,2485000.000,NaN,X,2,2,X,0,NaN,NaN,NaN,NaN,NaN,14956096.0,0.0,14956096.0,NOM,26913722.0,0.0,0.0,0.00,889000.00,886000.0,2700000.0,0.0,14000.0,121890000.0,8.286667e+06,237000.0,99000.0,0.0,12.0,0.0,1.170550e+07,C,0.0,NaN,14510896.0,NaN
281663,8670207#202011,202011,8670207,19740316,46.598220,M,DIVORCIADO,NO INFORMA,NaN,Profesional Independiente,FAMILIAR,20200616,3.0,10,N,N,LA CALERA ...,CUNDINAMARCA ...,BOGOTA D.C. ...,BOGOTA D.C. ...,NaN,23.0,0.0,0.0,0.0,150800000.0,SI,7620965.514,X,X,1,1,X,0,NaN,NaN,9794649.65,X,NaN,0.0,0.0,0.0,NaN,16301000.0,0.0,0.0,9794649.65,15648142.70,163000.0,26334000.0,0.0,0.0,30100000.0,3.091700e+07,10350000.0,300000.0,0.0,17.0,0.0,-4.154790e+07,D,0.0,NaN,NaN,NaN
281664,8677655#202011,202011,8677655,19780722,42.247775,F,CASADO,ESPECIALIZACION,ECONOMIA,Empleado,NO INFORMA,20200423,2.0,10,N,N,MEDELLIN ...,ANTIOQUIA ...,MEDELLIN ...,ANTIOQUIA ...,NaN,0.0,0.0,0.0,0.0,26000000.0,SI,1014000.000,X,NaN,1,1,X,0,NaN,NaN,NaN,NaN,NaN,11916465.0,0.0,11916465.0,NOM,14481371.0,0.0,0.0,0.00,1380417.00,173000.0,1894000.0,0.0,0.0,102025000.0,3.760867e+07,1953000.0,184811000.0,0.0,18.0,0.0,5.313457e+06,B,0.0,70077,11401109.0,14481371.0
281665,8692808#202011,202011,8692808,19801025,39.986311,F,NO INFORMA,UNIVERSITARIO,OTROS,Empleado,FAMILIAR,20200221,2.0,10,N,N,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,CUNDINAMARCA ...,NaN,20.0,0.0,0.0,0.0,30000000.0,SI,1170000.000,NaN,X,1,1,X,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,8407800.0,0.0,0.0,0.00,2232547.58,75000.0,5386000.0,0.0,0.0,123910000.0,6.008000e+07,1141000.0,25769000.0,0.0,14.0,0.0,-2.172737e+06,E,0.0,NaN,NaN,NaN

In [60]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 281666 entries, 0 to 281665
Data columns (total 65 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   id_registro                    281666 non-null  object
 1   periodo                        281666 non-null  int64
 2   id_cli                         281666 non-null  int64
 3   fecha_nacimiento               281666 non-null  int64
 4   edad                           281666 non-null  float64
 5   genero                         281666 non-null  object
 6   estado_civil                   281148 non-null  object
 7   nivel_academico                281666 non-null  object
 8   profesion                      232080 non-null  object
 9   ocupacion                      281650 non-null  object
 10  tipo_vivienda                  190599 non-null  object
 11  ult_actual                     281666 non-null  int64
 12  categoria                      278342 non-null  float64
 13  codigo_ciiu                    281666 non-null  int64
 14  ind_mora_vigente               281566 non-null  object
 15  cartera_castigada              281566 non-null  object
 16  ciudad_residencia              280823 non-null  object
 17  departamento_residencia        281554 non-null  object
 18  ciudad_laboral                 232616 non-null  object
 19  departamento_laboral           230738 non-null  object
 20  rechazo_credito                1632 non-null    object
 21  mora_max                       219245 non-null  float64
 22  cant_moras_30_ult_12_meses     219245 non-null  float64
 23  cant_moras_60_ult_12_meses     219245 non-null  float64
 24  cant_moras_90_ult_12_meses     219245 non-null  float64
 25  cupo_total_tc                  281666 non-null  float64
 26  tenencia_tc                    281666 non-null  object
 27  cuota_tc_bancolombia           281666 non-null  float64
 28  tiene_consumo                  42498 non-null   object
 29  tiene_crediagil                59382 non-null   object
 30  nro_tot_cuentas                281666 non-null  int64
 31  ctas_activas                   281666 non-null  int64
 32  tiene_ctas_activas             275097 non-null  object
 33  ctas_embargadas                281666 non-null  int64
 34  tiene_ctas_embargadas          609 non-null     object
 35  pension_fopep                  4529 non-null    object
 36  cuota_cred_hipot               32278 non-null   float64
 37  tiene_cred_hipo_1              32001 non-null   object
 38  tiene_cred_hipo_2              365 non-null     object
 39  mediana_nom3                   281666 non-null  float64
 40  mediana_pen3                   281666 non-null  float64
 41  ingreso_nompen                 281666 non-null  float64
 42  cat_ingreso                    140931 non-null  object
 43  ingreso_final                  281666 non-null  float64
 44  cant_mora_30_tdc_ult_3m_sf     258435 non-null  float64
 45  cant_mora_30_consum_ult_3m_sf  258435 non-null  float64
 46  cuota_de_vivienda              281666 non-null  float64
 47  cuota_de_consumo               281666 non-null  float64
 48  cuota_rotativos                281666 non-null  float64
 49  cuota_tarjeta_de_credito       281666 non-null  float64
 50  cuota_de_sector_solidario      281666 non-null  float64
 51  cuota_sector_real_comercio     281666 non-null  float64
 52  cupo_tc_mdo                    281666 non-null  float64
 53  saldo_prom3_tdc_mdo            281666 non-null  float64
 54  cuota_tc_mdo                   281666 non-null  float64
 55  saldo_no_rot_mdo               281666 non-null  float64
 56  cuota_libranza_sf              281666 non-null  float64
 57  cant_oblig_tot_sf              257536 non-null  float64
 58  cant_cast_ult_12m_sr           257536 non-null  float64
 59  ind                            281649 non-null  float64
 60  rep_calif_cred                 281666 non-null  object
 61  pol_centr_ext                  259027 non-null  float64
 62  convenio_lib                   55477 non-null   object
 63  ingreso_nomina                 95973 non-null   float64
 64  ingreso_segurida_social        93932 non-null   float64
dtypes: float64(32), int64(8), object(25)
memory usage: 139.7+ MB

# Test DataFrameBuilder in Train and test

In [62]:
train=[]
test=[]
for dataframe in [train, test]:
    pass

In [113]:
df.head(20)

,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,profesion,ocupacion,tipo_vivienda,ult_actual,categoria,codigo_ciiu,ind_mora_vigente,cartera_castigada,ciudad_residencia,departamento_residencia,ciudad_laboral,departamento_laboral,rechazo_credito,mora_max,cant_moras_30_ult_12_meses,cant_moras_60_ult_12_meses,cant_moras_90_ult_12_meses,cupo_total_tc,tenencia_tc,cuota_tc_bancolombia,tiene_consumo,tiene_crediagil,nro_tot_cuentas,ctas_activas,tiene_ctas_activas,ctas_embargadas,tiene_ctas_embargadas,pension_fopep,cuota_cred_hipot,tiene_cred_hipo_1,tiene_cred_hipo_2,mediana_nom3,mediana_pen3,ingreso_nompen,cat_ingreso,ingreso_final,cant_mora_30_tdc_ult_3m_sf,cant_mora_30_consum_ult_3m_sf,cuota_de_vivienda,cuota_de_consumo,cuota_rotativos,cuota_tarjeta_de_credito,cuota_de_sector_solidario,cuota_sector_real_comercio,cupo_tc_mdo,saldo_prom3_tdc_mdo,cuota_tc_mdo,saldo_no_rot_mdo,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,rep_calif_cred,pol_centr_ext,convenio_lib,ingreso_nomina,ingreso_segurida_social,gasto_familiar
0,201910,2089776,19840630,35.236140,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,ALQUILADA,20180526,1,10,N,N,CALI ...,VALLE ...,CALI ...,VALLE ...,\N,\N,\N,\N,\N,0.0,NO,0.000000e+00,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,1255032.00,0.0,1255032.00,NOM,1259738,0,0,0.0,0,0,0,0,0,0,0.000000e+00,0,0,0,0,0,629869,C,0,\N,1255032,\N,95511.00
1,201910,2088434,19880109,31.709788,F,UNION LIBRE,UNIVERSITARIO,VETERINARIA,Comerciante,NO INFORMA,20190710,4,10,N,N,GARZON ...,HUILA ...,\N,\N,\N,\N,\N,\N,\N,0.0,NO,0.000000e+00,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,0.00,0.0,0.00,\N,7970188,\N,\N,0.0,0,0,0,0,0,0,0.000000e+00,0,0,0,\N,\N,4742261.859999999,NA,\N,\N,\N,\N,1929721.00
2,201910,2088089,19860727,33.163587,M,UNION LIBRE,NO INFORMA,\N,Independiente,FAMILIAR,20190312,4,8230,N,N,PALMIRA ...,VALLE ...,\N,\N,\N,1,0,0,0,0.0,NO,0.000000e+00,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,0.00,0.0,0.00,\N,3073390,\N,\N,0.0,0,0,0,0,0,0,0.000000e+00,0,0,0,\N,\N,1698047.975,NA,\N,\N,\N,\N,374940.00
3,201910,4780572,19940208,25.626283,M,SOLTERO,NO INFORMA,OTROS,Empleado,\N,20190719,2,90,N,N,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,\N,0,0,0,0,15700000.0,SI,2.796635e+06,X,X,1,1,X,0,\N,\N,\N,\N,\N,0.00,0.0,0.00,\N,7749000,0,0,0.0,1750000,0,675000,0,0,0,0.000000e+00,0,9517000,0,5,0,2185655,B,0,\N,\N,\N,2165030.00
4,201910,3894402,19910809,28.128679,M,SOLTERO,TECNOLOGO,DISEÑO Y PUBLICIDAD,Independiente,\N,20190311,4,10,N,N,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,\N,1,0,0,0,0.0,NO,0.000000e+00,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,0.00,0.0,0.00,\N,1200000,0,0,0.0,134000,0,0,0,244000,0,0.000000e+00,0,2181000,0,2,0,-42000,NA,0,\N,\N,\N,77469.29
5,201910,3892351,19910108,28.711841,M,SOLTERO,TECNOLOGO,OTROS,Independiente,\N,20190802,4,10,N,N,MEDELLIN ...,ANTIOQUIA ...,\N,\N,\N,\N,\N,\N,\N,0.0,SI,0.000000e+00,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,0.00,0.0,0.00,\N,7372850,\N,\N,0.0,0,0,0,0,0,0,0.000000e+00,0,0,0,\N,\N,4386845.75,NA,\N,\N,\N,\N,710999.00
6,201910,2897552,19900903,29.059548,M,SOLTERO,BACHILLER,\N,Empleado,\N,20190906,1,10,N,N,MEDELLIN ...,ANTIOQUIA ...,MEDELLIN ...,ANTIOQUIA ...,\N,1,0,0,0,0.0,NO,0.000000e+00,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,1337120.00,0.0,1337120.00,NOM,1300628,0,0,0.0,0,0,0,0,524000,0,0.000000e+00,0,2481000,0,0,1,126314,F,7,\N,1252458.5,\N,210600.00
7,201910,2897375,19850119,34.680356,F,SOLTERO,UNIVERSITARIO,COMUNICACION SOCIAL,Empleado,\N,20190820,1,10,N,N,CALI ...,VALLE ...,SIN INFORMACION ...,SIN INFORMACION ...,\N,\N,\N,\N,\N,0.0,NO,0.000000e+00,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,2782797.00,0.0,2782797.00,NOM,3722742,0,0,0.0,221000,0,255000,0,0,500000,1.000000e+05,567000,1237000,0,2,0,2129919.4,D,0,\N,\N,\N,344640.00
8,201910,4782141,19790623,40.257358,F,NO INFORMA,SIN INFORMACION,\N,Empleado,\N,20190725,1,10,N,N,BOGOTA D.C. ...,CUNDINAMARCA ...,\N,\N,\N,0,0,0,0,0.0,NO,0.000000e+00,X,\N,1,1,X,0,\N,\N,\N,\N,\N,4353538.00,0.0,4353538.00,NOM,3374070,0,0,0.0,386000,11000,1006000,0,29000,25800000,1.652767e+07,734000,248000,0,4,0,929849,C,0,70831,4351202,3500000,270189.00
9,201910,1259390,19830725,36.169747,M,SOLTERO,TECNOLOGO,OTROS,Empleado,FAMILIAR,20190429,1,10,N,N,MEDELLIN ...,ANTIOQUIA ...,\N,\N,\N,0,0,0,0,6000000.0,SI,1.260000e+05,X,X,1,1,X,0,\N,\N,\N,\N,\N,0.00,0.0,0.00,\N,2629942.3,0,0,0.0,595000,17000,497000,0,95000,3855000,2.666667e+03,5000,21423000,501000,10,0,1006462.495,A,0,\N,\N,\N,84040.00
10,201910,308411,19790527,40.331280,F,UNION LIBRE,UNIVERSITARIO,INGENIERIA DE PETROLEOS,Empleado,FAMILIAR,20190902,2,10,N,N,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,\N,16,0,0,0,3000000.0,SI,1.740000e+05,\N,\N,2,2,X,0,\N,\N,\N,\N,\N,0.00,0.0,0.00,\N,2101457,0,1,0.0,1321000,0,0,0,0,0,0.000000e+00,0,7154000,0,5,0,-234125.8,E,4,\N,\N,\N,199080.00
11,201910,1259263,19820325,37.503080,M,SOLTERO,TECNOLOGO,OTROS,Empleado,\N,20190508,1,10,N,N,CALI ...,VALLE ...,CALI ...,VALLE ...,\N,\N,\N,\N,\N,1800000.0,SI,1.044000e+05,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,0.00,0.0,0.00,\N,2444607.8,0,0,0.0,1054000,0,0,0,0,0,0.000000e+00,0,51863000,1054000,1,0,88349.97799999989,D,0,\N,\N,\N,127032.00
12,201910,4773298,19770209,42.622861,M,UNION LIBRE,SIN INFORMACION,\N,Empleado,\N,20180627,1,10,N,N,SIN INFORMACION ...,SIN INFORMACION ...,\N,\N,\N,\N,\N,\N,\N,0.0,NO,0.000000e+00,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,0.00,0.0,0.00,\N,1002600,0,0,0.0,0,0,40000,0,100000,300000,2.660000e+05,91000,336000,0,1,0,334300,G,0,\N,1131000,\N,0.00
13,201910,2586131,19850703,34.228611,M,SOLTERO,ESPECIALIZACION,ADMINISTRACION,Empleado,FAMILIAR,20190406,4,10,N,N,BOGOTA D.C. ...,CUNDINAMARCA ...,BOGOTA D.C. ...,CUNDINAMARCA ...,\N,0,0,0,0,0.0,NO,0.000000e+00,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,0.00,0.0,0.00,\N,2195850,0,0,0.0,0,0,0,0,0,0,0.000000e+00,0,0,0,0,0,1119883.5,NA,4,\N,\N,\N,1511798.35
14,201910,1259581,19610820,58.097194,F,CASADO,BACHILLER,\N,Comerciante,PROPIA,20190517,4,7729,N,N,ENVIGADO ...,ANTIOQUIA ...,ENVIGADO ...,ANTIOQUIA ...,\N,\N,\N,\N,\N,0.0,NO,0.000000e+00,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,0.00,0.0,0.00,\N,3526000,\N,\N,0.0,0,0,0,0,0,0,0.000000e+00,0,0,0,\N,\N,2097970,NA,\N,\N,\N,\N,160371.00
15,201910,2892385,19860117,33.686516,M,SOLTERO,ESPECIALIZACION,DERECHO,Otro,FAMILIAR,20190308,2,9609,N,N,NEIVA ...,HUILA ...,BOGOTA D.C. ...,CUNDINAMARCA ...,\N,16,0,0,0,6650000.0,SI,3.258500e+05,X,\N,1,1,X,0,\N,\N,\N,\N,\N,0.00,0.0,0.00,\N,9707650,0,4,0.0,11261000,0,3899000,0,0,19797000,1.708000e+06,8178000,21096000,0,7,0,-9383948.25,D,12,\N,\N,\N,1853793.84
16,201910,2892417,19881207,30.798084,F,NO INFORMA,UNIVERSITARIO,PSICOLOGIA,Empleado,\N,20190304,2,10,N,N,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,CUNDINAMARCA ...,\N,0,0,0,0,0.0,NO,0.000000e+00,X,\N,1,1,X,0,\N,\N,\N,\N,\N,0.00,0.0,0.00,\N,5141668,0,0,0.0,1270000,0,156000,789000,120000,5710000,2.068000e+06,348000,52311000,612000,7,0,1854167.6,C,0,\N,\N,\N,1302000.00
17,201910,2586306,19800517,39.356605,M,NO INFORMA,NO INFORMA,\N,Empleado,NO INFORMA,20190811,1,10,N,N,GIRARDOT - CUNDINAMARCA ...,CUNDINAMARCA ...,GIRARDOT - CUNDINAMARCA ...,CUNDINAMARCA ...,\N,\N,\N,\N,\N,0.0,NO,0.000000e+00,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,1539840.05,0.0,1539840.05,NOM,985326,0,0,0.0,356000,0,114000,0,356000,5475000,0.000000e+00,0,13436000,356000,3,0,-51337,G,0,REVISAR CONVENIOS,1007517.5,1327000,69900.00
18,201910,2900599,19620126,57.661875,M,SOLTERO,SIN INFORMACION,\N,Profesional Independiente,\N,20190918,4,141,N,N,BARRANQUILLA ...,ATLANTICO ...,\N,\N,\N,0,0,0,0,0.0,NO,0.000000e+00,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,0.00,0.0,0.00,\N,53830000,\N,\N,0.0,0,0,0,0,0,0,0.000000e+00,0,0,0,\N,\N,34316625,NA,\N,\N,\N,\N,484992.00
19,201910,8584182,19510328,68.495551,M,CASADO,UNIVERSITARIO,OTROS,Empleado,FAMILIAR,20190725,2,10,N,N,BOGOTA D.C. ...,BOGOTA D.C. ...,\N,\N,\N,1,0,0,0,0.0,NO,0.000000e+00,\N,\N,2,1,X,0,\N,\N,\N,\N,\N,0.00,1814200.0,1814200.00,PEN,2444810,0,0,0.0,879000,18000,861000,0,0,22100000,1.626950e+07,1029000,42112000,0,5,0,-511146.8999999999,C,0,\N,\N,\N,248796.00

In [107]:
df['gasto_familiar'].dtype

dtype('float64')

In [116]:
df.head(20)['ingreso_segurida_social'].replace("\\N", np.nan)

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8     3500000
9         NaN
10        NaN
11        NaN
12        NaN
13        NaN
14        NaN
15        NaN
16        NaN
17    1327000
18        NaN
19        NaN
Name: ingreso_segurida_social, dtype: object

In [122]:
df

,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,profesion,ocupacion,tipo_vivienda,ult_actual,categoria,codigo_ciiu,ind_mora_vigente,cartera_castigada,ciudad_residencia,departamento_residencia,ciudad_laboral,departamento_laboral,rechazo_credito,mora_max,cant_moras_30_ult_12_meses,cant_moras_60_ult_12_meses,cant_moras_90_ult_12_meses,cupo_total_tc,tenencia_tc,cuota_tc_bancolombia,tiene_consumo,tiene_crediagil,nro_tot_cuentas,ctas_activas,tiene_ctas_activas,ctas_embargadas,tiene_ctas_embargadas,pension_fopep,cuota_cred_hipot,tiene_cred_hipo_1,tiene_cred_hipo_2,mediana_nom3,mediana_pen3,ingreso_nompen,cat_ingreso,ingreso_final,cant_mora_30_tdc_ult_3m_sf,cant_mora_30_consum_ult_3m_sf,cuota_de_vivienda,cuota_de_consumo,cuota_rotativos,cuota_tarjeta_de_credito,cuota_de_sector_solidario,cuota_sector_real_comercio,cupo_tc_mdo,saldo_prom3_tdc_mdo,cuota_tc_mdo,saldo_no_rot_mdo,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,rep_calif_cred,pol_centr_ext,convenio_lib,ingreso_nomina,ingreso_segurida_social,gasto_familiar
0,201910,2089776,19840630,35.236140,M,DIVORCIADO,TECNOLOGO,TECNOLOGIA SISTEMAS,Empleado,ALQUILADA,20180526,1,10,N,N,CALI ...,VALLE ...,CALI ...,VALLE ...,\N,\N,\N,\N,\N,0.0,NO,0.000000e+00,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,1255032.0,0.0,1255032.0,NOM,1259738,0,0,0.0,0,0,0,0,0,0,0.0,0,0,0,0,0,629869,C,0,\N,1255032,\N,95511.00
1,201910,2088434,19880109,31.709788,F,UNION LIBRE,UNIVERSITARIO,VETERINARIA,Comerciante,NO INFORMA,20190710,4,10,N,N,GARZON ...,HUILA ...,\N,\N,\N,\N,\N,\N,\N,0.0,NO,0.000000e+00,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,0.0,0.0,0.0,\N,7970188,\N,\N,0.0,0,0,0,0,0,0,0.0,0,0,0,\N,\N,4742261.859999999,NA,\N,\N,\N,\N,1929721.00
2,201910,2088089,19860727,33.163587,M,UNION LIBRE,NO INFORMA,\N,Independiente,FAMILIAR,20190312,4,8230,N,N,PALMIRA ...,VALLE ...,\N,\N,\N,1,0,0,0,0.0,NO,0.000000e+00,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,0.0,0.0,0.0,\N,3073390,\N,\N,0.0,0,0,0,0,0,0,0.0,0,0,0,\N,\N,1698047.975,NA,\N,\N,\N,\N,374940.00
3,201910,4780572,19940208,25.626283,M,SOLTERO,NO INFORMA,OTROS,Empleado,\N,20190719,2,90,N,N,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,\N,0,0,0,0,15700000.0,SI,2.796635e+06,X,X,1,1,X,0,\N,\N,\N,\N,\N,0.0,0.0,0.0,\N,7749000,0,0,0.0,1750000,0,675000,0,0,0,0.0,0,9517000,0,5,0,2185655,B,0,\N,\N,\N,2165030.00
4,201910,3894402,19910809,28.128679,M,SOLTERO,TECNOLOGO,DISEÑO Y PUBLICIDAD,Independiente,\N,20190311,4,10,N,N,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,\N,1,0,0,0,0.0,NO,0.000000e+00,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,0.0,0.0,0.0,\N,1200000,0,0,0.0,134000,0,0,0,244000,0,0.0,0,2181000,0,2,0,-42000,NA,0,\N,\N,\N,77469.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1118881,201910,2892117,19840610,35.290897,M,UNION LIBRE,BACHILLER,\N,Comerciante,\N,20190726,4,4724,N,N,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,\N,0,0,0,0,4200000.0,SI,1.218000e+05,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,0.0,0.0,0.0,\N,3810000.0,\N,\N,0.0,0,0,0,0,0,0,0.0,0,0,0,\N,\N,2145150.000000,A,\N,\N,\N,\N,488768.00
1118882,201910,4772894,19860721,33.180014,F,SOLTERO,NO INFORMA,\N,Independiente,\N,20190609,4,10,N,N,BOGOTA D.C. ...,CUNDINAMARCA ...,BOGOTA D.C. ...,AMAZONAS ...,\N,1,0,0,0,0.0,NO,0.000000e+00,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,0.0,0.0,0.0,\N,2002230.0,\N,\N,0.0,0,0,0,0,0,0,0.0,0,0,0,\N,\N,1021137.300000,NA,\N,\N,\N,\N,114924.71
1118883,201910,4774849,19960318,23.520876,F,DIVORCIADO,NO INFORMA,\N,Empleado,\N,20190410,1,10,N,N,BOGOTA D.C. ...,BOGOTA D.C. ...,BOGOTA D.C. ...,AMAZONAS ...,\N,0,0,0,0,0.0,NO,0.000000e+00,\N,\N,0,0,\N,0,\N,\N,\N,\N,\N,0.0,0.0,0.0,\N,2110000.0,0,0,0.0,144000,0,0,0,144000,0,0.0,0,0,0,1,0,788100.000000,E,0,\N,\N,\N,0.00
1118884,201910,3895049,19910224,28.583162,M,UNION LIBRE,NO INFORMA,\N,Empleado,\N,20190909,1,10,N,N,APARTADO ...,ANTIOQUIA ...,NECOCLI ...,ANTIOQUIA ...,\N,0,0,0,0,0.0,NO,0.000000e+00,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,2371104.0,0.0,2371104.0,NOM,1955559.0,0,0,0.0,0,0,157000,0,0,7500000,0.0,0,68000,0,2,0,1016335.400000,H,0,72080,2324915,1416107,153150.00
1118885,201910,2090044,19670629,52.240931,F,DIVORCIADO,UNIVERSITARIO,DERECHO,Profesional Independiente,\N,20190424,1,10,N,N,BOGOTA D.C. ...,CUNDINAMARCA ...,BOGOTA D.C. ...,BOGOTA D.C. ...,\N,0,0,0,0,10500000.0,SI,1.350093e+06,\N,\N,1,1,X,0,\N,\N,\N,\N,\N,0.0,0.0,0.0,\N,2438000.0,0,0,0.0,0,0,533000,0,0,1900000,61000.0,0,75000,0,3,0,929800.000000,C,0,\N,\N,\N,25500.00

In [138]:
df2 = df.copy()
df2['mora_max'] = df2['mora_max'].replace("\\N", np.nan).astype('float')

df2['mora_max'] = np.where(
               df2['mora_max'] < 30, "Entre 0 y 30 dias",
               np.where(
                   df2['mora_max'] < 60, "Entre 31 y 60 dias",
                   np.where(
                       df2['mora_max'] > 60, "Mas de 60", "NA"
                   )
               )
)

df2['mora_max'].value_counts()

Entreo 0 y 30 dias    776039
NA                    319400
Entre 31 y 60 dias     14283
Mas de 60               9164
Name: mora_max, dtype: int64

In [136]:
df2 = df.copy()
df2['mora_max'] = df2['mora_max'].replace("\\N", np.nan).astype('float64')

df2['mora_max'].value_counts()

0.0       551146
1.0       119640
16.0       14189
17.0        8872
13.0        7647
           ...
1233.0         1
2971.0         1
386.0          1
369.0          1
294.0          1
Name: mora_max, Length: 582, dtype: int64

In [127]:

df['mora_max'].value_counts()

0       551146
\N      319034
1       119640
16       14189
17        8872
         ...
824          1
728          1
580          1
369          1
1170         1
Name: mora_max, Length: 583, dtype: int64